body {
    background-color: #f0f8ff;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: black;
}

header {
    background-color: #3d2fb3;
    text-align: center;
    color: white;
    padding: 35px;
    border-bottom: 5px solid orange;
}

h1 {
    font-size: 40px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

nav {
    text-align: center;
    margin: 20px;
    padding: 15px;
    background-color: #5a51b3;
    border-radius: 10px;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0px 15px;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;

}

a:hover {
    background-color: #3d2fb3;

}

h2 {
  text-align: center;
  color: #2f2869;
   border-bottom: 5px solid orange;

}

.content {
    display: flex;
    margin: 20px 0px;
}

img {
    border-radius: 25px;
    margin-right: 30px;
    border: 5px solid #ffbb00
}

.text {
    flex: 1;
}

table {
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
}

td {
    border: 1px solid #ffbb00;
    background-color: #9188e7;
    padding: 12px;
    text-align: center;
    color: white;
}

footer {
    background-color: #5a51b3;
    color: white;
    text-align: center;
    padding: 25px;
    border-top:5px solid #ffbb00;
    margin-top: 60px;
}

div {
    background-color: white;
    margin: 15px;
    padding: 25px;
    border-radius: 15px;
    border: 3px solid #9189d6a9;
}

